In [1]:
# Find the largest among three numbers using elif
n1 = int(input())
n2 = int(input())
n3 = int(input())

if n1 > n2 and n1 > n3:
    print(f"{n1} is the largest number")
elif n2 > n1 and n2 > n3:
    print(f"{n2} is the largest number")
else:
    print(f"{n3} is the largest number")

 7654
 96328
 7653

96328 is the largest number

In [2]:
# Find the largest among three numbers using nested if
a = int(input())
b = int(input())
c = int(input())

if a > b:
    if a > c:
        print(f"{a} is the largest number")
    else:
        print(f"{c} is the largest number")
else:
    if b > c:
        print(f"{b} is the largest number")
    else:
        print(f"{c} is the largest number")

 876
 98
 879

879 is the largest number

In [3]:
units = int(input())

if units <= 100:
    amount = units * 1.5
elif units <= 200:
    amount = 100 * 1.5 + (units - 100) * 2.5
else:
    amount = 100 * 1.5 + 100 * 2.5 + (units - 200) * 4

print("Total Bill Amount = ₹", amount)

 765

Total Bill Amount = ₹ 2660.0

In [4]:
u = int(input())

if u <= 100:
    bill = u * 1.5
else:
    if u <= 200:
        bill = 100 * 1.5 + (u - 100) * 2.5
    else:
        bill = 100 * 1.5 + 100 * 2.5 + (u - 200) * 4

print("Electricity Bill: ₹", bill)

 864

Electricity Bill: ₹ 3056.0

In [6]:
#leap year or not
year = int(input())

if year % 400 == 0:
    print("Leap Year")
elif year % 100 == 0:
    print("Not a Leap Year")
elif year % 4 == 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

 2024

Leap Year

In [7]:
y = int(input())

if y % 4 == 0:
    if y % 100 == 0:
        if y % 400 == 0:
            print("Leap Year")
        else:
            print("Not a Leap Year")
    else:
        print("Leap Year")
else:
    print("Not a Leap Year")

 2003

Not a Leap Year

In [8]:
# students' marks in 3 subjects
m1 = int(input())
m2 = int(input())
m3 = int(input())

avg = (m1 + m2 + m3) / 3

if avg >= 75:
    print("Distinction")
elif avg >= 50:
    print("Pass")
else:
    print("Fail")

 85
 94
 39

Pass

In [10]:
a = int(input())
b = int(input())
c = int(input())

average = (a + b + c) / 3

if average >= 50:
    if average >= 75:
        print("Distinction")
    else:
        print("Pass")
else:
    print("Fail")

 87
 97
 65

Distinction

In [11]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1 % 2 == 0:
    print("n1 is even")
else:
    print("odd")
if n2 % 2 == 0:
    print("n2 is even")
else:
    print("odd")
if n3 % 2 == 0:
    print("n3 is even")
else:
    print("odd")

 16
 15
 17

n1 is even
odd
odd

In [17]:
num = int(input())
for num in range(1,11):
    print(num, end = " " )

 10

1 2 3 4 5 6 7 8 9 10

In [18]:
num = int(input())
for num in range(1,11):
    print(num, end = " " )
else:
    print("program done")

 10

1 2 3 4 5 6 7 8 9 10 program done

In [24]:
num = int(input())
for num in range(101):
    if num % 2 == 0:
        print(num, end=" ")

 100

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [25]:
num = int(input())
for num in range(101):
    if num % 2 == 1:
        print(num, end=" ")

 100

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [32]:
#tables
num = int(input())
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [48]:
lst = input().split()
result = []
for i in range(len(lst)):
    n = int(lst[i])
    if lst[i]%2==0:
        result. append(n)
print(result)

 5 3 2 4 8 7

TypeError: not all arguments converted during string formatting

In [44]:
lst = list(map(int, input().split()))
result = []

for i in range(len(lst)):
    if lst[i] % 2 == 0:
        result.append(lst[i])

print("Even numbers:", result)

 3 4 7 2 8 5

Even numbers: [4, 2, 8]